div.field {
    margin: 2rem 0;
}
div.field:first-child {
    margin-top: 0;
}
label {
    color: var(--clr-gray-D);
    display: block;
    font-size: 1.4rem;
}
input[type=text], input[type=tel], input[type=email], select, textarea {
    background: var(--clr-gray-400);
    border: none;
    border-radius: 4px;
    color: var(--clr-white);
    padding: 1rem;
}
textarea {
    min-width: 50rem;
}
#phoneNumberField, #emailField {
    display: none;
}

/***************************************************************************/
/* =TABLET (720px+)                                                        */
/***************************************************************************/
@media all and (min-width: 45rem) {
    .t-flex {
        display: flex;
        gap: 2rem;
        align-content: center;
    }

    .t-flex div.field {
        margin-top: 0;
    }
}