html {
	font: 10px 'Source Sans Pro', sans-serif;
}
body {
	font-size: 1.6rem;
	margin: 0;
	padding: 0 0 8rem 0;
}
h1 {
	display:  none;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #444;
	text-decoration: underline;
}
img {
  max-width: 100%;
}
header, #content {
	max-width: 120rem;
	margin: 0 auto 0  auto;
	padding: 0 5%;
}
header {
	margin-top:  2rem;
}
#logo {
	max-width:  100%;
	margin-bottom:  4rem;
}
#hero {
	background: url("grass_sm.jpg") center repeat-x;
	background-size: auto 100%;
	height: 20vh;
}
#services {
	background: #F4FFE2;
	color: #7AAC49;
	margin-top: 0;
	overflow: hidden;
	text-align: center;
}
#services li {
	display:  inline-block;
	list-style: none;
}
#services li:not(:last-child)::after {
	color: #333;
	content: '·';
	display: inline-block;
	margin: 0 1rem;
}
#contact, #highlight {
	line-height:  2.6rem;
}
#contact i {
	color: #0db4eb;
	display: inline-block;
	margin-right: 1rem;
	width: 1rem;
}
#highlight {
	text-align:  center;
}
#highlight > div {
	display:  inline-block;
	margin: 0 1rem;
}
#highlight i {
	color: #00bb66;
}
footer {
	/* background: url("soil.jpg") center repeat-x; */
	background: #333;
	bottom:  0;
	color: #FFF;
	padding: .5rem 0;
	position:  fixed;
	width:  100%;
}
footer div.content {
	display: flex;
	justify-content: space-between;
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 5%;
}
footer a {
	color: #EEE;
}
footer a:hover {
	color: #FFF;
}

/***************************************************************************/
/* =TABLET                                                                 */
/***************************************************************************/
@media all and (min-width: 46.875rem) {
	header {
		overflow:  auto;
	}
	#logo {
		float: left;
		margin-bottom: 0;
		max-width: 40rem;
		width: 50%;
	}
	#highlight {
		float: right;
	}
	#content {
		display: grid;
		grid-template-columns: 1fr 2fr;
	  	gap: 2rem;
	  	grid-auto-rows: minmax(100px, auto);
	}
	#contact {
	  grid-column: 1;
	  grid-row: 1;
	}
	#about {
	  grid-column: 2;
	  grid-row: 1;
	}
	div.addr1::after {
		content:  ',';
	}
	div.addr1, div.addr2 {
		display:  inline-block;
	}
}